In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("/home/kuba/Desktop/pandas-workout/files/data/nyc-parking-violations-2020.csv", 
                 usecols=["Plate ID", "Registration State", "Vehicle Make", "Vehicle Color", "Violation Time", "Street Name"])

In [15]:
df.shape

(12495734, 6)

In [16]:
df.head(7)

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
3,F728330,OH,CHEVR,1106A,DIVISION AVE,NaN
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY
5,KDG0693,PA,HYUN,0525P,B 99 ST,GY
6,79928MG,NY,INTER,1120A,W/S/O WASHINGTON ST,WH

In [17]:
df_drop_all_nas = df.dropna()

In [19]:
df_drop_all_nas.shape

(12048375, 6)

In [20]:
df.dropna(subset=['Plate ID', 'Registration State', 'Vehicle Make', 'Street Name'])

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
3,F728330,OH,CHEVR,1106A,DIVISION AVE,NaN
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY
...,...,...,...,...,...,...
12495729,62161MM,NY,FORD,1111A,3RD AVE,BR
12495730,GYE7330,NY,HONDA,0444P,PELHAM PARK DR,BLK
12495731,HNY4802,NY,FORD,0210A,LYDIG AVE,GY
12495732,T687081C,NY,TOYOT,0225P,E 68 STREET,BLK
12495733,3497ZN,WA,UTILI,0456A,W/S/O 182 STREET,WHITE